@import url('stylesvar.css');

.input-error {
    border: 1px solid red !important;
    color: red !important; 
}
.input-bien {
    border: 1px solid green !important;
    color: green !important; 
}

.titulo{
    background-color: black;
}

.pregunta-respuesta{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    margin-bottom: 20px;
}

.eliminar-campo{
    padding: 7px 20px 7px 20px;
    border-radius: 5px;
    background-color: #930000;
    color: #f1f1f1;
    cursor: pointer;
}
.eliminar-campo:hover{
    padding: 7px 20px 7px 20px;
    border-radius: 5px;
    background-color: #480000;
    color: #f1f1f1;
}

#agregar-campo{
    width: 100%;
    padding: 20px;
    background-color: #0f0f0f;
    color: #ccc;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;

}
#agregar-campo:hover{
    background-color: #e8e8e8;
    color:#0f0f0f
}
#btn_conf,
#btn_personalizacion{
    width: 100%;
    padding: 20px;
    background-color: #006fca;
    color: #ccc;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.3s, color 0.3s;
}
#btn_conf,
#btn_personalizacion:hover{
    background-color: #005397;
    color: #ccc;
}
.mostrar_configuracion{
    display:inline-flex;
    width: 100%;
}

.formulario_configuracion{
    width: 100%;
}

.mostrar_configuracion .form-table {
    /* Tus estilos personalizados para esta página específica */
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 100%;
    line-height: 1.3;
    font-weight: 600;
}

.mostrar_configuracion .form-table th {
    /* Tus estilos personalizados para esta página específica */
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 100px;
    line-height: 1.3;
    font-weight: 600;
}













/* Estilos del icono flotante */
.floating-icon {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: var(--color-boton-flotante, #00bc0d); /* Valor por defecto si la variable no está definida */
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 30%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}


/* Estilos de la pantalla emergente */
.modal {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    max-width: 350px;
    min-width: 350px;
    max-height: 90vh; /* Establece la altura máxima en el 80% de la altura visible del dispositivo */
    /*overflow-y: auto; /* Agrega un scroll vertical cuando el contenido es demasiado grande */
   
}

/* Para navegadores que no admiten la especificación de scrollbar-color */
#chat-container::-webkit-scrollbar {
    width: 10px;
}

#chat-container::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 5px;
}

#chat-container::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.modal-content {
    text-align: left;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}




#chat-container {
    max-height: 300px;
    min-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    word-wrap: break-word;
    font-size: 0.8rem;

    display: flex;
    flex-direction: column;
}

#user-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 3px;
    margin-right: 10px; /* Espaciado entre el input y el botón */
    font-size: 14px; /* Tamaño de fuente */
}

#send-button {
    background-color: var(--color-boton-envio,#4caf50); /* Color de fondo del botón */

    color: #fff; /* Color del texto del botón */
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px; /* Tamaño de fuente */
}


  .mensaje {
    padding: 8px;
    margin-bottom: 8px;
    max-width: 100%; /* Limita el ancho del mensaje al 80% del contenedor para evitar que se extienda demasiado */
  }
  
  .mensaje-enviado {
    background-color: var(--color-mensaje-enviado, #4CAF50);
    color: white;  /* Color de texto para mensajes enviados */
    text-align: right;  /* Alinea el texto a la derecha para mensajes enviados */
    margin-left: 50px;
    border-radius: 7px;
  }
  
  .mensaje-recibido {
    background-color: var(--color-mensaje-recibido, #f1f1f1);

    color: black;  /* Color de texto para mensajes recibidos */
    
    margin-right: 50px;
    border-radius: 7px;

  }

  .escribiendo {
    bottom: 0;
    margin-top: 0px;
    text-align: left;
    padding: 0px;
    animation: fadeInOut 1s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
        height: auto;
        
        visibility: visible;
    }
    25% {
        opacity: 0;
        height: 0;
        visibility: hidden;
    }
    50% {
        opacity: 1;
        height: auto;
        visibility: visible;
    }
    100% {
        opacity: 0;
        height: 0;
        visibility: hidden;
    }
}





.aligncenter { 
    display:-webkit-box;
}

.btn_chat {
    background-color: #f1f1f1; /* Color de fondo */
    color: #000; /* Color del texto */
    padding: 8px 16px; /* Ajuste del relleno */
    border: 1px solid #ccc; /* Borde delgado */
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave del color de fondo y del borde */
    outline: none; /* Sin contorno al hacer clic */
}

.btn_chat:hover {
    background-color: #ddd; /* Cambia el color de fondo al pasar el ratón */
}

.btn_chat:active {
    background-color: #ccc; /* Cambia el color de fondo al hacer clic */
}



#btn-flotante,
#btn-flotante2 {
    margin-top: 10px; /* Agrega un espacio entre los botones */
    padding: 10px 20px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-flotante:hover,
#btn-flotante2:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}
#btn-flotante2:disabled {
    background-color: lightgray !important;
    color: gray !important;
    cursor: not-allowed !important;
}
